body {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #4f46e45d 10%, transparent 6%),
                radial-gradient(circle at bottom left, #4f46e45d 5%, transparent 2%),
                radial-gradient(circle at bottom right, #4f46e45d 5%, transparent 2%),
                radial-gradient(circle at top left, #4e46e45d 5%, transparent 2%),
                radial-gradient(circle at top right, #4f46e45d 5%, transparent 2%);
    background-size: 3em 3em;
    background-color: #ffffff;
    opacity: 0.999;
  }

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
  }

  table{
    width:70%;
    align-items: center;
    table-layout: fixed;
    border-top: solid 1px rgba(197, 197, 197, 0.9);
    border-left: solid 1px rgba(197, 197, 197, 0.9);
    border-right: solid 1px rgba(197, 197, 197, 0.9);
  }
  
  .tbl-header{
    background-color: rgba(233, 233, 233, 0.9);
   }

  .tbl-content{
    background-color: rgba(255, 255, 255, 0.8);
    height:50px;
    overflow-x:auto;
    margin-top: 0px;
  }

  th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    color: #3f3f3fd0;
    text-transform: uppercase;
  }

  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 20px;
    color: #000000a9;
    border-bottom: solid 1px rgba(197, 197, 197, 0.85);
  }

  .topnav {
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  .topnav a {    

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

button {
  background-color: #ccc;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

button:hover {
  background-color:#929292;
  color: #000000;
  border-radius: 5px;
}


input {
  top:50%;
  border: 3px solid #555;
  background-color: white;
  background-position: 10px 10px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h2{
  padding: 10px 10px;
  border: 1px solid #cacaca;
  border-radius: 1ch;
  background-color: white;
  background-position: 10px 10px;
}

.error-email, .error-password, .tempo{
  border-radius: 1ch;
  background-color: white;
  background-position: 10px 10px;
}


li{
  marker:none;
}

.pagination, strong {
  margin-top: 10px;
  display: inline-flex;
  font-weight:bold;
  font-size:20px;
  background-color:rgb(192, 192, 192, 0.5);
  text-align: center;
  text-decoration: none;
  color: #0c0c0c;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pagination:hover, strong {
  background-color:rgb(134, 134, 134, 0.9);
  color: #444444;
  border-radius: 5px;
}



