@cinza: rgb(194, 194, 194);
@cinza-amarelado: #ece1c2;
@amarelo-claro: #f1e9c6b2;
@marrom-claro: rgba(184, 179, 152, 0.699);

body 
{
    font-family: HK Guise, Arial, sans-serif;
    font-size: 14px;

    margin: 0;
    padding: 0;

    background: linear-gradient(@cinza, @cinza-amarelado, @amarelo-claro);
    background-color: white;
    opacity: 0.999;
}

.container 
{
  display: flex;
  align-items: center;
  place-content: center center;

  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 30px;

  .container-item
  {
    display: flex;
    flex: 3 3;
  }
}

form
{
  width: 50%;
  padding: 0;
  margin: 0;
}

table
{
  width:70%;
  align-items: center;
  table-layout:auto;

  border: solid 1px rgba(197, 197, 197, 0.9);
}

.tbl-header
{
  background-color: rgba(233, 233, 233, 0.9);
}

.tbl-content, tbl-repos
{
  margin-top: 0px;

  height:50px;
  overflow-x:auto;

  background-color: rgba(255, 255, 255, 0.8);

}

th
{
  padding: 20px 15px;

  color: #3f3f3fd0;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
}

td
{
  padding: 15px;
  vertical-align:middle;

  color: #000000a9;
  text-align: left;
  font-weight: 300;
  font-size: 1.2rem;
}

.topnav
{
  display: flex;
  margin: 0;

  background-color: #333;

  a, span
  {
    flex: 0.1;
    float: left;
    padding: 20px 24px;

    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;

      &:hover
      {
        color: black;

        background-color: #ddd;
      }
  }

  .active
  {
    color: black;

    background-color: #cac8c2;
  }
}

.subtopnav {
  position: relative;
  display: inline-block;
}

.subtopnav-item {
  display: none;

}

.subtopnav:hover .subtopnav-item {
  display: block;
}

button 
{
  padding: 7px;

  border: none;

  background-color: rgba(206, 201, 177, 0.699);

  &:hover
  {
    color: #000000;

    border-radius: 5px;

    background-color:@marrom-claro;
  }
  
}

input 
{
  &[type="radio"]
  {
    padding: 0;
    margin: 6px 2px;
    width: 25%;
  }
  width: 100%;
  padding: 12px 30px;
  margin: 8px 10px;
  
  display: inline-block;
  box-sizing: border-box;

  border: 1px solid #ccc;
  border-radius: 4px;

  background-color: white;
  background-position: 10px 10px;

}

h2
{
  padding: 10px 10px;

  border: 1px solid #cacaca;
  border-radius: 1ch;

  background-color: rgb(235, 235, 235);
  background-position: 10px 10px;
}

.error-email, 
.error-password,
.error-name,
.error-phone,
.error-identifier,
.error-cep,
.tempo
{
  flex: none;
  border-radius: 1ch;

  background-color: rgba(241, 237, 218, 0.699);
  background-position: 10px 10px;
}

.pagination-flex 
{
  display:flex;
  margin-left: 20px;

  & strong {
    color: #444444;

    border-radius: 5px;

    background-color:@marrom-claro;
    margin-left: 2px;
    padding: 5px 10px;
    font-size:1.3rem;
  }

}

.pagination 
{
  flex:0.001;
  margin-left: 2px;
  padding: 5px 10px;

  font-weight:bold;
  font-size:1.3rem;
  text-align: center;
  text-decoration: none;
  color: #0c0c0c;

  background-color:@cinza;

  &:hover 
  {
    color: #444444;

    border-radius: 5px;

    background-color:@marrom-claro;
  }

}

label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

fieldset
{
  width: 39%;
  margin: 0 10px;
  padding: 7px 28px;
  flex: none;
}
.avatar
{
  display: flex;
}

img
{
  width: 9%;
}
